button {
    font-weight: bold;
    background: lightgrey;
    border: 1px solid lightcoral;
    padding: .5em;
    margin: .3em .8em;
}

div.play-container {
    border: 1px solid lightgray;
    margin-bottom: 2em;
}

.active {
    background-color: yellow;
    border: 2px solid black;
}

.notactive {
    background-color: lightgrey;
    border: 2px solid black;
}